<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de usuarios cadastrados</title>
    <link rel="stylesheet" href="listagem.css" />
    <script src="listagem.js">
      defer
    </script>
</head>
<body>
<h1>Usuários cadastrados</h1>

<div class="box">
    <p id="quantidade"></p>

    <table cellspacing="4">
        <tbody>
        <tr>
            <th>ID</td>
            <th>Nome</td>
            <th>Email</td>
            <th>Telefone</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
