<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de usuários</title>
    <link rel="stylesheet" href="cadastro.css" />
    <script src="cadastro.js" defer></script>
</head>
<body>
<div class="box"></div>
<h1>Cadastro de usuários</h1>
<form action="">
    <input type="text" name="nome" id="nome" placeholder="Digite o nome" />
    <input
            type="text"
            name="email"
            id="email"
            placeholder="Digite o email"
    />
    <input
            type="password"
            name="senha"
            id="senha"
            placeholder="Digite a senha"
    />
    <input
            type="text"
            name="telefone"
            id="telefone"
            placeholder="Digite o telefone"
    />
    <button>Cadastrar</button>
</form>
</div>
</body>
</html>
